  <div mat-dialog-content>

    <div *ngIf="action != 'Delete'; else elseTemplate">
    
      <mat-form-field appearance="fill" style="width:100%">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="local_data.firstName">
      </mat-form-field>
  
      <br>

      <mat-form-field appearance="fill" style="width:100%">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="local_data.lastName">
      </mat-form-field>
  
      <br>

      <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Birthday</mat-label>
      <input matInput [matDatepicker]="picker" [value]="local_data.birthday">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br><br>

      <label id="example-radio-group-label">Gender</label><br>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="local_data.gender">
      <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;
      <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>

      <br><br>

      <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Country</mat-label>
      <mat-select [(ngModel)]="local_data.country">
      <mat-option value="Philippines">Philippines</mat-option>
      <mat-option value="Australia">Australia</mat-option>
      <mat-option value="Australia">New Zealand</mat-option>
      <mat-option value="Australia">Singapore</mat-option>
      <mat-option value="Australia">Canada</mat-option>
      <mat-option value="Australia">USA</mat-option>
      </mat-select>
      </mat-form-field>

      <br>
    
    </div>

    <ng-template #elseTemplate>
      Are you sure you want to delete this data?
    </ng-template>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="basic" (click)="doAction()">{{action}}</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
  </div>
